<footer>
    <section>
    <section class="container">
        <h4 class="brand-name">Miss Vogue Nigeria</h4>
        <p>
            Miss Vogue Nigeria beauty pageant is an innovative beauty pageant that is poised at growing and actively
                promoting tourism, cultural diversity, peace and co-existence that actively propagates the Nigerian life
                style, entertainment, business ventures and investment opportunities to the country on the platform of
                beauty and brains.
        </p>
    </section>
    <section class="container contact">
        <h4 class="sub-heading">
            Contact Us
        </h4>
        <ul>
            <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span> 59 Ada George Road, Port Harcourt.

                Rivers State</span></li>
            <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <span>+234 7035484277</span>
            </li>
            <li>
                <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                <span>+234 9070880615</span>
            </li>
            <li>
                <span><i class="fa fa-send" aria-hidden="true"></i></span>
                <span>missvoguenigeria@gmail.com</span>
            </li>
            
        </ul>
    </section>
    <section class="container explore">
        <h4 class="sub-heading">
            Explore
        </h4>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/lookbook">Loookbook</a></li>
            <li><a href="/models">models</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </section>
    <section class="container">
        <h4 class="sub-heading">Connect</h4>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i><span> facebook</span></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i><span> instagram</span></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i><span> twitter</span></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i><span> whatsapp</span></a></li>
        </ul>
    </section>
</section>
<section class="rights">
    <div class="center-text">
       <span > &copy;Miss Vogue Nigeria 2020. All Rights Reserved.</span>
       <span>Created with <i class="fa fa-heart" aria-hidden="true"></i> by Smartech Global</span>
    </div>
    

</section>

</footer>
</body>

</html>