<header class="banner">

    <section>
        <div class="top-header container">
            <div>
                <h2>Miss Vogue</h2>
            </div>
            <div>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
    </section>
    <section>

    </section>

</header>