<header class="banner header">

    <section>
        <div class="top-header container">
            <div>
                <h2><a href="/" class="logo">Miss Vogue</a></h2>
            </div>
            <div>
                <i class="fa fa-bars toggle-menu" aria-hidden="true"></i>
            </div>
        </div>
    </section>
    <section class="primary-nav-container">
        <nav class="primary-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/models">Models</a>

                </li>
                <li>
                    <a href="/lookbook">Lookbook</a>

                </li>
                <li>
                    <a href="/contact">Contact</a>

                </li>
                <li>
                    <a href="#">Register</a>
                </li>
            </ul>
        </nav>

    </section>

</header>