<header class="banner header">

    <section>
        <div class="top-header container">
            <div>
                <h2><a href="/" class="logo">Miss Vogue</a></h2>
            </div>
            <div>
                <i class="fa fa-bars toggle-menu" aria-hidden="true"></i>
            </div>
        </div>
    </section>
    <section class="primary-nav-container">
        <nav class="primary-nav">
            <ul>
                <li>
                    <a href="/" id="active-menu">Home</a>
                </li>
                <li>
                    <a href="/models">Models</a>

                </li>
                <li>
                    <a href="/about">About</a>

                </li>
                <li>
                    <a href="/lookbook">Lookbook</a>

                </li>

                <li>
                    <a href="/contact">Contact</a>

                </li>
                <li class="hide">
                    <a href="#">Register</a>
                </li>
                <li>
                    <a href="/votes" id="urgent">vote view</a>
                </li>
            </ul>
        </nav>

    </section>

</header>