$primary-color-1:gold;
$primary-color-2:#303030;


@media only screen and(min-width:769px){
    footer>section>section{
        display: grid;
        grid-template-columns: 1.6fr repeat(3,1fr);
        column-gap: 15px;
    }
    footer>section{
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 10px;
        
    }

    .primary-nav{
        transform: translateX(0);
        position: static;
        height: fit-content;
        width: fit-content;
        background: transparent;
        &>ul{
            display: flex;
            a{
                font-size: 1.3rem;
            }
        }
    }

    .primary-nav-container{
        height: fit-content;
    }
    .banner{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0px 70px;
    }
    .top-header{
        width: fit-content;
    }

    .landing-banner{
        min-height: 120vh;
    }
    .main-content{
        margin-top: 70vh;
    }
    .landing-CTA{
        top:50vh;
    }
    .toggle-menu{
        display: none;
    }

}
