$primary-color-1:gold;
$primary-color-2:#303030;


@media only screen and(min-width:769px){

    

    footer>section>section{
        display: grid;
        grid-template-columns: 1.6fr repeat(3,1fr);
        column-gap: 15px;
    }
    footer>section{
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 10px;
        
    }

    .primary-nav{
        transform: translateX(0);
        position: static;
        height: fit-content;
        width: fit-content;
        background: transparent;
        &>ul{
            display: flex;
            a{
                font-size: 1.3rem;
            }
        }
    }

    .primary-nav-container{
        height: fit-content;
    }
    .banner{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0px 70px;
    }
    .top-header{
        width: fit-content;
    }

    .landing-banner{
        min-height: 120vh;
    }
    .main-content{
        margin-top: 70vh;
    }
    .landing-CTA{
        top:35vh;
        p{
            font-size: 3.7rem;
            background: transparent;
        }
        a{
            font-size: 3.5rem;
            margin-top: 40px;
            margin-left: 40px;
        }
    }
    .toggle-menu{
        display: none;
    }


    .the-models{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        // grid-template-rows: 400px;
        // column-gap: 10px;
        // row-gap: 10px;
    }
    .models{
        .image-wrapper{
            width: 100%;
            img{
                width:100%;
            }
        }
    }

    .lookbook-container{
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        .lookbook-image-wrapper{
            max-height: 400px;
            border-radius: 0px;
            // background: black;
            overflow: hidden;
        }

    }

    .our-model>div{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        width: 100%;
    }


    .about{
        padding: 40px 250px;
    }

    .contact-sub{
        column-gap: 7px;
        grid-template-columns: 1fr 6fr;
    }
    .contact-info{
        &>div{
            display: flex;
            justify-content: space-around;
        }
    }

    .form-and-pic{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 20px;
    }



    .container{
        padding: 10px 100px;
    }

    .contestants-details>div{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
     column-gap: 120px;
     row-gap: 50px;
    }

    .summary-board{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .landing-banner::after{
        
        height: 120vh;
    }

    .landing-banner{
        min-height:120vh ;
        background-size:contain;
    }

    .landing-caption{
        font-size: 7.5rem;
        box-sizing: border-box;
    }
    
    .contestants-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        column-gap: 20px;
    }


}
