$primary-color-1:gold;
$primary-color-2:#303030;

// main{
// padding-top: 50px;
// }

.hide{
    display: none;
}


.landing-banner{
    min-height:50vh ;
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    z-index: -2;
    
    
}

.main-content{
    margin-top: 60px;
}

.landing-CTA{
    top: 60px;
    position: relative;
    // margin-top: 40px;
    font-size: 1.2rem;
    width: 60vw;
    p{
        color: white;
        background: rgba(0, 0, 0,0.3);
        padding: 7px 7px 0px 7px;
    }
    
    span{
        text-transform: uppercase;
        color: $primary-color-1;
    }
    a{
        text-transform: uppercase;
        padding: 5px 10px;
        background: $primary-color-1;
        display: block;
        margin-top: 7px;
        width: fit-content;
        color:rgb(26, 25, 25);
        font-weight: bold;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(167, 164, 164);
    line-height: 1.6;
}
body{
   font-family:'Open Sans', sans-serif;
}

html{
    font-size: 10px;
}

.container{
    padding: 15px;
}

.center-text{
    text-align: center;
}

.upper{
    text-transform: uppercase;
}

.read-more{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 15px 30px;
    color: rgb(241, 240, 240);
    background: rgb(78, 78, 78);
}

a{
    text-decoration: none;
}

.sub-heading{
    text-transform: uppercase;
    font-size: 1.7rem;
    color:white;
    padding: 2px 10px;
    border-left: 3px solid $primary-color-1;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
}