$primary-color-1:gold;
$primary-color-2:#303030;

.contestants{
    width: 100vw;
    background: $primary-color-2;

}

.contestants-wrapper{
    .image-wrapper{
        width: 100%;
        img{
            width: 100%;
        }
    }
    &>div>div{
        text-align: center;
        font-size: 3.5rem;
        span{
            color: $primary-color-1;
        }
    }

}


