<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="about main-content">
        <h1 class="center-text brand-name upper">About</h1>
        <div>
            <div class="container">
                <h2>Company Overview</h2>
                <article>
                    S.O.C entertainment is a limited liability company incorporated under company and allied matter act
                    (CAMA) 1990 as a fully operatonal company with registration number BN: 2549226.
                    We are fully integrated as a service company in entertainment Event Management, Pageantry,
                    video/film production, Artist management,advert jingle, Documentary and all other media affairs.
                    Beauty Pageants have developed into a prominent area of Tourism research as a result of the great
                    depth of diversity they pose whether from a local community context or that of an International
                    Festival context intended here. From our findings Miss Vogue Nigeria Beauty Pageant will yield
                    positive prospects through which its urban and local communities can foster prestige, image
                    enhancement and regeneration, and also attracts investment by developing cultural opportunities and
                    enhancing existing ones, jump starting or ignitng and motivating the spirit of self-help throughout
                    Nigeria.
                </article>

            </div>
            <div class="container">
                <h2>About Miss Vogue Nigeria Beauty Pageant</h2>
                <article>Miss Vogue Nigeria beauty pageant is an innovative beauty pageant that is poised at growing and
                    actively promoting tourism, cultural diversity, peace and co-existence that actively propagates the
                    Nigerian life style, entertainment, business ventures and investment opportunities to the country on
                    the platform of beauty and brains.
                    Miss vogue Nigeria will be a vastly publicized and patronized pageant event and will be recognized
                    as one of the most effective initiative pageant in Nigeria and Africa at large.
                    For the second edition, Port Harcourt as the host city will be hosting 37 contestants for this
                    beauty pageant which will bring in together high dignitaries. diplomats, Ambassadors, entertainers
                    and other important guest from across the states to support this course.
                    This pageant will create an avenue for ideas integration, enterprise development, creative strategy
                    and technology that will bring about individual empowerment, Enterpreneurial development and as the
                    host city regional development and National advancement for global competitiveness</article>
            </div>
            <div class="container">
                <h2>Our aim</h2>
                <article>
                    To identify young women that have what it takes to influence peace and showcase the elegance of
                    Nigeria through beauty, and give them the neccesary information of grooming and self-presentation,
                    placing them on international corridors where they can excel
                </article>
            </div>
            <div class="container">
                <h2>
                    CORPORATE SOCIAL RESPONSIBILITY
                </h2>
                <article>
                    Youths are important for the development of modern society and the crucial roles of youth in
                    community range from homemakers, builders of human characters and great care givers to the human
                    race.
                    To this effect, we have decided to focus on youth empowerment through our PET project(Youth
                    Empowerment) that is poised at alleviating poverty and building resilence in the rural areas in the
                    state and beyond.
                    This PET project(Youth Empowerment) aids with sustainable income and helps youth to graduate from
                    extreme poverty by giving them the tools they need to start small business in their various
                    communities. With this new and diversified source of income, they can feed their families, pay their
                    school fees and medical care, and accumulate savings for long-term stability.

                    Youth who enroll in our project learn job skills and receive business training so that they can earn
                    a living. They come to understand their rights and how to fight those rights in various homes,
                    community and their nation, and ultimately, they learn how to become leaders because we believe that
                    lasting change can only e achieved when youths have access to both knowledge and resources

                    To this end, we will organize a 'PROJECT PROGRAM' to fund the foundation in honor of the crowned
                    Queen
                </article>
            </div>

        </div>
    </section>

</main>
<script src="../js/about.js"></script>
<%- include('./partials/footer.ejs') %>