<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div class="landing-caption">
            <div>LookBook</div>
            <div>Miss Vogue Nigeria</div>
        </div>

    </div>
    <section class="login">
        <div class="form-wrapper">
            <h1 class="upper center-text caption">Admin Login</h1>
            <div>
                <form action="">
                    <fieldset>
                        <input type="text" name="username" placeholder="Username">
                    </fieldset>
                    <fieldset>
                        <input type="password" name="password" placeholder="Password">
                    </fieldset>
                    <fieldset>
                        <button type="submit">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

</main>
<script src="../js/lookbook.js"></script>
<%- include('./partials/footer.ejs') %>