<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="contact-page">
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="welcome-section container main-content">
        <div>

            <h1 class="center-text brand-name upper">Contact us</h1>



            <div>
                <div class="contact-info">
                    <p>
                        We're quick in response. Contact us via any of the following medium stated below.
                    </p>
                    <div>


                        <div class="contact-sub">
                            <span>Phone: </span>
                            <span>+234 7035484277</span>

                        </div>
                        <div class="contact-sub">
                            <span>WhatsApp: </span>
                            <span>+234 9070880615</span>

                        </div>
                        <div class="contact-sub">
                            <span>Email: </span>
                            <span>missvoguenigeria@gmail.com</span>

                        </div>
                        <div class="contact-sub">
                            <span>Address: </span>
                            <span>59 Ada George Road, Port Harcourt.

                                Rivers State</span>

                        </div>
                    </div>

                </div>
                <section class="social-media">
                    <div>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                </section>
            </div>
            <div class="form-and-pic">

                <form action="" method="POST" class="Contact-form">
                    <div>
                        <input type="text" placeholder="Enter your Name">
                    </div>
                    <div>
                        <input type="text" placeholder="Enter your E-mail">
                    </div>
                    <div>
                        <textarea placeholder="Message" rows="6"></textarea>
                    </div>
                    <div>
                        <button>Contact Us</button>
                    </div>
                </form>
                <div>
                    <img src="../images/new-topmodel4.jpeg" alt="">
                </div>
            </div>

    </section>



</main>
<script src="../js/contact.js"></script>
<%- include('./partials/footer.ejs') %>