<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="welcome-section container">
        <div>

            <h2 class="center-text brand-name upper">Contact us</h2>



            <div>
                <div class="contact-info">
                    <p>
                        We're quick in response. Contact us via any of the following medium stated below.
                    </p>
                    <div class="contact-sub">
                        <span>PHONE </span>
                        <span>+234 7035484277</span>

                    </div>
                    <div class="contact-sub">
                        <span>WHATSAPP </span>
                        <span>+234 9070880615</span>

                    </div>
                    <div class="contact-sub">
                        <span>email </span>
                        <span>missvoguenigeria@gmail.com</span>

                    </div>
                    <div class="contact-sub">
                        <span>Address </span>
                        <span>59 ADA GEORGE ROAD, PORTHARCOURT.

                            RIVERS STATE</span>

                    </div>

                </div>
                <section class="social-media">
                    <div>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                </section>
            </div>
            <div>
                <form action="" method="POST" class="Contact-form">
                    <div>
                        <input type="text" placeholder="Enter your Name">
                    </div>
                    <div>
                        <input type="text" placeholder="Enter your E-mail">
                    </div>
                    <div>
                        <textarea placeholder="Message" rows="6"></textarea>
                    </div>
                    <div>
                        <button>Contact Us</button>
                    </div>
                </form>
            </div>

    </section>



</main>

<%- include('./partials/footer.ejs') %>