<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main style="margin-top: 120px;">
    <form action="">
        <input type="number" placeholder="Model Number">
        <input type="number" placeholder="Number of votes">
        <button type="submit">Add Vote</button>
    </form>
</main>





<%- include('./partials/footer.ejs') %>