<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main style="margin-top: 120px;">
    <form action="/admin/dashboard/contestants?_method=PUT" method="POST">
        <input type="text" placeholder="Model id" name="id">
        <input type="number" placeholder="Number of votes" name="newVotes">
        <button type="submit">Add Vote</button>
    </form>
</main>





<%- include('./partials/footer.ejs') %>