<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="landing-banner">

    </section>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="welcome-section container main-content">

        <div>
            <h3 class="center-text welcome upper">Welcome to</h3>
            <h2 class="center-text brand-name upper">Miss Vogue Nigeria</h2>
            <p class="center-text">
                Miss Vogue Nigeria beauty pageant is an innovative beauty pageant that is poised at growing and actively
                promoting tourism, cultural diversity, peace and co-existence that actively propagates the Nigerian life
                style, entertainment, business ventures and investment opportunities to the country on the platform of
                beauty and brains.
                Miss vogue Nigeria will be a vastly publicized and patronized pageant event...
            </p>
            <div class="center-text read-more-container">
                <a href="#" class="read-more">Read more</a>
            </div>
            <section class="social-media">
                <div>
                    <a href="https://web.facebook.com/MissVogueNigeria/?_rdc=1&_rdr" target="_blank"><i
                            class="fa fa-facebook"></i></a>


                    <a href="https://twitter.com/MissVogueNiger1" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/missvoguenigeria/" target="_blank"><i
                            class="fa fa-instagram"></i></a>

                </div>
            </section>

    </section>
    <section class="our-model">
        <div>
            <div class="image-wrapper">
                <img src="../images/topModel2.jpg" alt="">
            </div>

            <div class="image-wrapper">
                <img src="../images/pic3.jpg" alt="">
            </div>
            <div class="image-wrapper">
                <img src="../images/pic4.jpg" alt="">
            </div>

            <div class="image-wrapper">
                <img src="../images/pic7.jpg" alt="">
            </div>
            <div class="image-wrapper">
                <img src="../images/more2.png" alt="">
            </div>
            <a href="#" class="load-more">
                <h3 class="center-text">Load More models</h3>
            </a>

        </div>


    </section>
    <section class="about-pageant">
        <div>
            <h2>
                Be a part of our next pageant
            </h2>
            <p>
                Miss vogue Nigeria will be a vastly publicized and patronized pageant event and will be recognized as
                one of the most effective initiative pageant in Nigeria and Africa at large.
                For the second edition, Port Harcourt as the host city will be hosting 37 contestants for this beauty
                pageant which will bring in together high dignitaries. diplomats, Ambassadors, entertainers and other
                important guest from across the states to support this course.
                This pageant will create an avenue for ideas integration, enterprise development, creative strategy and
                technology that will bring about individual empowerment, Enterpreneurial development and as the host
                city regional development and National advancement for global competitiveness
            </p>
            <a href="#" class="button">Become a Contestant</a>
        </div>
    </section>
    <section class="testimonies">
        <div class="center-text">
            <span class="quote "><i class="fa fa-quote-right" aria-hidden="true"></i></span>
        </div>
        <header>
            <h3 class="upper center-text">What people say</h3>
            <div class="upper center-text"> &gt;About us &lt;</div>
        </header>
        <article class="center-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem beatae, perferendis a ea similique
            obcaecati sunt optio ad nisi nihil velit asperiores dolore sequi tempore fugiat soluta unde voluptates sed?
        </article>
        <div class="by center-text">
            <span>George, B Smith - </span><span>Developer</span>
        </div>

    </section>



</main>

<%- include('./partials/footer.ejs') %>