<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="lookbook main-content">
        <h1 class="center-text brand-name upper">Look Book</h1>
        <div class="lookbook-container">
            <div class="lookbook-image-wrapper">
                <img src="../images/lookbook1.jpg" alt="">
            </div>
            <% for(let i=1;i<=14;i++){ %>
            <div class="lookbook-image-wrapper">
                <img src="../images/pic<%= i %>.jpg" alt="">
            </div>
            <% } %>
        </div>
    </section>

</main>
<script src="../js/lookbook.js"></script>
<%- include('./partials/footer.ejs') %>