<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="models main-content">
        <h1 class="center-text brand-name upper">Models</h1>
        <div class="the-models">
            <div class="image-wrapper">
                <img src="../images/new-topmodel1.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Queen Amarachi .A</span>
                        <div>Title: miss vogue nigeria Ambassador</div>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel2.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Cyprian precious .k</span>
                        <div>title: miss vogue nigeria int'l</div>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel3.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">vicoria adindu</span>
                        <div>title: miss vogue nigeria top model</div>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel4.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">eziobi vivian</span>
                        <div>title: miss voque nigeria queen</div>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>

</main>


<%- include('./partials/footer.ejs') %>