<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>

    <section class="models">
        <h1 class="center-text brand-name upper">Models</h1>
        <div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel1.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 1</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel2.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 2</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel3.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 3</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel4.jpeg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 4</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel5.jpg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 5</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel6.jpg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 6</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../images/new-topmodel7.jpg" alt="">
                <div class="top-model-details">
                    <div>
                        <span class="name">Name of model 7</span>
                    </div>
                    <div class="more">
                        <div>
                            <div>Height</div>
                            <div>23</div>
                        </div>
                        <div>
                            <div>Hair color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Eye color</div>
                            <div>Black</div>
                        </div>
                        <div>
                            <div>Dress Size</div>
                            <div>Medium</div>
                        </div>
                        <div>
                            <div>Measurement</div>
                            <div>36</div>
                        </div>
                        <div>
                            <div>Shoe size</div>
                            <div>40</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

</main>


<%- include('./partials/footer.ejs') %>