<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="#">Explore & Vote</a>
        </div>
    </div>
    <section class="main-content">

    </section>

</main>

<%- include('./partials/footer.ejs') %>