<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
    <section class="landing-banner">

    </section>
    <div></div>
    <div class="landing-CTA container">
        <div>
            <p>Have a say in the ungoing baeuty Pageantry</p>
            <p>See our contestants and <span>Vote</span> for your favourite contestant</p>
            <a href="/votes">Explore & Vote</a>
        </div>
    </div>
    <section class="main-content">

    </section>
    <section class="contestants container">
        <div class="contestants-wrapper">
            <% contestants.forEach(contestant=>{ %>
            <div class="image-wrapper">
                <img src="../images/scroll2.jpeg" alt="">
                <div>
                    <span><%= contestant.votes %></span> Votes
                </div>
            </div>
            <% }) %>
        </div>
    </section>

</main>

<%- include('./partials/footer.ejs') %>